.Phone input{
    width: 100% !important;
    font-style: normal;
    font-weight: 400;
    font-size: 14px !important;
    line-height: 20px !important;
    height: 50px !important;
    border-radius: 10px !important;
    background: #ffffff !important;
    border: 2px solid black !important;
  }

  .Phone :focus{
    outline: 3px solid rgb(187, 177, 177) !important;
  }

  .flag-dropdown {
    border: 2px solid black !important;
    border-radius: 4px 0 0 4px!important;
  }
 